{erl_opts, [debug_info]}.
{deps, [{erlando, ".*", {git, "git://github.com/rabbitmq/erlando.git", {branch, "master"}}}]}.

{escript_incl_apps,
 [hello_erlando, erlando]}.
{escript_main_app, hello_erlando}.
{escript_name, hello_erlando}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
